@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>


<p>Aplicación web realizada por el Grupo 12 del GSWM31: </p>
<p> - David Calderón Cortés </p>
<p> - Belén García-Botija Aldana </p>
<p> - Pablo Guijarro Prado </p>
<p> - Javier Morejón de Girón Pérez </p>
