@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AppGestionEMS</h1>
    <p class="lead">Aplicación web para la gestión de un centro educativo.</p> 
</div>

<style type="text/css">
    .imag1 {
        margin-left: 50px;
    }

    .imag2 {
        margin-left: 150px;
    }

</style>

<div class="row">
    <img class="imag1" src="@Url.Content("~/Images/logoEscuela.png")" width="300px" height="300px" alt="img1" />
    <img class="imag2" src="@Url.Content("~/Images/docencia.jpg")" width="560px" height="360px"  alt="img2" />
</div>